html {
    height: 100%;
}

body {
    background: #fafafa;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
}

#content {
    margin: 10px;
}

#map {
    background: url("../images/loader.gif") no-repeat center center;
    height: 100%;
    width: 100%;
}

#dashboard {
    font-size: small;
    background-color: white;
    border: 1px solid black;
    /*width: 200px;*/
    /*height: 200px;*/
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
}

.hidden {
    display: none;
}
